
@model ExperienceViewModel
@{
    ViewBag.Title = "Experience";

}






<!--CENTER SECTION-->
<div class="db-2">
    <div class="db-2-com db-2-main">
        <h4>Créer éxperience<span class="db-pay-amount"></span></h4>
        <div class="db-2-main-com db2-form-pay db2-form-com">
            
            <form class="col s12" enctype="multipart/form-data" method="post" asp-action="CreateExperience">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="input-field col s12">

                        <input asp-for="Titre" placeholder="Titre éxperience" class="form-control" />
                        
                        <span asp-validation-for="Titre" class="text-danger"></span>
                    </div>
                </div>

    
                <div class="row">
                    <div class="input-field col s12">
                        <select asp-for="TypeExperience" placeholder="Choisir pays xx" asp-items="Html.GetEnumSelectList<TourMe.Data.Entities.Enum.TypeExperience>()">
                            <option>choisir  le type d' Experience ...</option>
                        </select>

                        <span asp-validation-for="TypeExperience" class="text-danger"></span>

                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">

                        <input asp-for="Lieu" placeholder="Copiez le lieu à partir de google maps" class="form-control" />
                        <span asp-validation-for="Lieu" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <input asp-for="tarif" placeholder="Saisir le Tarif" class="form-control" />
                        <span asp-validation-for="tarif" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <input asp-for="NbPlaces" placeholder="Saisir nombre de places disponible" class="form-control" />
                        <span asp-validation-for="NbPlaces" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <select asp-for="Saison" placeholder="Choisir pays">
                            <option value="" disabled selected>Selectionnez le saison</option>
                            <option value="HIVER">HIVER</option>
                            <option value="PRINTEMPS">PRINTEMPS</option>
                            <option value="ÉTÉ">ÉTÉ </option>
                            <option value="AUTOMNE">AUTOMNE </option>


                        </select>
                    </div>
                </div>
                <div class="row">

                    <div class="input-field col s12">
                        <label>Date Début</label>
                        <br />
                        <br />

                        <input asp-for="dateDebut" class="form-control" />
                        <span asp-validation-for="dateDebut" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label>Date Fin</label>
                        <br />
                        <br />

                        <input asp-for="dateFin" class="form-control" />
                        <span asp-validation-for="dateFin" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input type="submit" value="Ajouter l'éxperience" class="waves-effect waves-light full-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <ul>
        <li>
            <a asp-controller="Account" asp-action="ProfilCommerc">
                Annuler
            </a>
        </li>
    </ul>
</div>