
@model ExperienceViewModel
@{
    ViewBag.Title = "Experience";

}

<div class="row">
  
    <div class="col-md-12">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>





            <div class="form-group">
                <label asp-for="Titre">Titre Experience</label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>

            </div>



            <div class="form-group">
                <label asp-for="TypeExperience">Type Experience</label>
                <input asp-for="TypeExperience" class="form-control" />
                <span asp-validation-for="TypeExperience" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Lieu">Lieu</label>
                <input asp-for="Lieu" class="form-control" />
                <span asp-validation-for="Lieu" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Saison">Saison</label>
                <input asp-for="Saison" class="form-control" />
                <span asp-validation-for="Saison" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="dateDebut">date Debut</label>
                <input asp-for="dateDebut" class="form-control" />
                <span asp-validation-for="dateDebut" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="dateFin">date Fin</label>
                <input asp-for="dateFin" class="form-control" />
                <span asp-validation-for="dateFin" class="text-danger"></span>

            </div>








            <button type="submit" class="btn btn-primary">S'inscrire</button>

        </form>
    </div>
</div>