@model Domaine.Entities.Utilisateur

@{
    ViewData["Title"] = "Details";
}

@{var photoPath = "~/images/" + (Model.ProfilePhoto ?? "noimage.jpg");

}
<section>


    <div class="container">
        <h4>Utilisateur</h4>
        <hr />
        <ul>

            <li>
                <h4>Nom</h4>
                @Html.DisplayFor(model => model.Nom)
            </li>
            <li>
                <h4>Prenom</h4>
                @Html.DisplayFor(model => model.Prenom)
            </li>
            <li>
                <h4>Email</h4>
                @Html.DisplayFor(model => model.Email)
            </li>
         
            <li>
                <h4>Photo</h4>
                <img src="@photoPath" asp-append-version="true" alt="" />
            </li>

        </ul>
        <form asp-action="DeleteUser">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="GetAllUsers">Back to List</a>
        </form>
    </div>
</section>
