@model TourMe.Web.Models.EditRoleViewModel

@{
    ViewBag.Title = "Create Role";
}

@{

    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Vous aller supprimer le role @Model.RoleName</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="GetAllRoles" asp-controller="Administration">Voir tous les rôles</a></li>
                    <li class="breadcrumb-item active">delete</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-secondary">
                <div class="card-header">
                    <h4>Role to Delete</h4>
                </div>
                <div class="card-body">

                    <div>
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="input-group mb-3">

                                <label>@Model.RoleName</label>



                            </div>

                            <div class="row">

                                <!-- /.col -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary ">Delete</button>
                                    <a asp-action="GetAllRoles" class="btn btn-primary">Cancel</a>
                                </div>
                                <!-- /.col -->
                            </div>




                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="card card-secondary">
                <div class="card-header">
                    <h4>Users in This role</h4>
                </div>

                <div class="card-body">
                    @if (Model.Users.Any())
                    {
                        foreach (var user in Model.Users)
                        {
                            <h5 class="card-title">@user</h5>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
