@model IList<TourMe.Data.Entities.Experience>
@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div>
        <div>
            <div>
                <div class="slider fullscreen">
                    <ul class="slides">
                        <li>
                            <img src="~/Theme/Template2/images/slider/1.jpg" alt="">
                            <!-- random image -->
                            <div class="caption center-align slid-cap">
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                <h2>This is our big Tagline!</h2>
                                <p>Mauris non placerat nulla. Sed vestibulum quam mauris, et malesuada tortor venenatis at.Aenean euismod sem porta est consectetur posuere. Praesent nisi velit, porttitor ut imperdiet a, pellentesque id mi.</p> <a href="#" class="waves-effect waves-light">Reserver</a>
                            </div>
                        </li>
                        <li>
                            <img src="~/Theme/Template2/images/slider/2.jpg" alt="">
                            <!-- random image -->
                            <div class="caption center-align slid-cap">
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                <h2>This is our big Tagline!</h2>
                                <p>Mauris non placerat nulla. Sed vestibulum quam mauris, et malesuada tortor venenatis at.Aenean euismod sem porta est consectetur posuere. Praesent nisi velit, porttitor ut imperdiet a, pellentesque id mi.</p> <a href="#" class="waves-effect waves-light">Reserver</a>
                            </div>
                        </li>
                        <li>
                            <img src="~/Theme/Template2/images/slider/3.jpg" alt="">
                            <!-- random image -->
                            <div class="caption center-align slid-cap">
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                <h2>This is our big Tagline!</h2>
                                <p>Mauris non placerat nulla. Sed vestibulum quam mauris, et malesuada tortor venenatis at.Aenean euismod sem porta est consectetur posuere. Praesent nisi velit, porttitor ut imperdiet a, pellentesque id mi.</p> <a href="#" class="waves-effect waves-light">Reserver</a>
                            </div>
                        </li>

                        <li>
                            <img src="~/Theme/Template2/images/slider/4.jpg" alt="">
                            <!-- random image -->
                            <div class="caption center-align slid-cap">
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                <h2>This is our big Tagline!</h2>
                                <p>Mauris non placerat nulla. Sed vestibulum quam mauris, et malesuada tortor venenatis at.Aenean euismod sem porta est consectetur posuere. Praesent nisi velit, porttitor ut imperdiet a, pellentesque id mi.</p> <a href="#" class="waves-effect waves-light">Reserver</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="rows pad-bot-redu tb-space hom2-ban-pack">
        <div class="container">
            <div>
                @{ foreach (var item in Model)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-12 b_packages wow fadeInUp animated" data-wow-duration="0.5s" style="visibility: visible;-webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; animation-duration: 0.5s;">
                            <!-- OFFER BRAND -->
                            <div class="band"> <img src="~/Theme/Template2/images/band.png" alt=""> </div>
                            <!-- IMAGE -->
                            <div class="v_place_img"> <img src="~/images/@item.Activites.First().Image" alt="Tour Booking" title="Tour Booking"> </div>
                            <!-- TOUR TITLE & ICONS -->
                            <div class="b_pack rows">

                                <!-- TOUR TITLE -->
                                <div class="col-md-8 col-sm-8">
                                    <h4><a href="tour-details.html">@item.Titre<span class="v_pl_name">@item.Lieu</span></a></h4>
                                </div>
                                <!-- TOUR ICONS -->
                                <div class="col-md-4 col-sm-4 pack_icon">
                                    <ul>
                                        <li>
                                            <a href="#"><img src="~/Theme/Template2/images/clock.png" alt="Date" title="Tour Timing"> </a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/Theme/Template2/images/info.png" alt="Details" title="View more details"> </a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/Theme/Template2/images/price.png" alt="Price" title="Price"> </a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/Theme/Template2/images/map.png" alt="Location" title="Location"> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }}
                <!-- TOUR PLACE 1 -->
                <!-- TOUR PLACE 2 -->
                <!-- TOUR PLACE 3 -->

            </div>
        </div>
    </div>
</section>
<section>
    <div class="tr-register">
        <div class="tr-regi-form v2-search-form">
            <h4>Booking by <span>Email</span></h4>
            <p>It's free and always will be.</p>
            <form class="contact__form" method="post" action="http://rn53themes.net/themes/demo/travelz/mail/tourbooking.php">
                <div class="alert alert-success contact__msg" style="display: none" role="alert">
                    Thank you for arranging a wonderful trip for us! Our team will contact you shortly!
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" name="name" required>
                        <label>Enter your name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="number" class="validate" name="phone" required>
                        <label>Enter your phone</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="email" class="validate" name="email" required>
                        <label>Enter your email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="select-city-1" class="autocomplete validate" name="city">
                        <label for="select-city-1">Select City or Place</label>
                    </div>
                    <div class="input-field col s12">
                        <select name="package">
                            <option value="" disabled selected>Select your package</option>
                            <option value="Honeymoon Package">Honeymoon Package</option>
                            <option value="Family Package">Family Package</option>
                            <option value="Holiday Package">Holiday Package</option>
                            <option value="Group Package">Group Package</option>
                            <option value="Regular Package">Regular Package</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="from" name="arrival" readonly>
                        <label for="from">Arrival Date</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="to" name="departure" readonly>
                        <label for="to">Departure Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="noofadults">
                            <option value="" disabled selected>No of adults</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <select name="noofchildrens">
                            <option value="" disabled selected>No of childrens</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <select name="minprice">
                            <option value="" disabled selected>Min Price</option>
                            <option value="$200">$200</option>
                            <option value="$500">$500</option>
                            <option value="$1000">$1000</option>
                            <option value="$5000">$5000</option>
                            <option value="$10,000">$10,000</option>
                            <option value="$50,000">$50,000</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <select name="maxprice">
                            <option value="" disabled selected>Max Price</option>
                            <option value="$200">$200</option>
                            <option value="$500">$500</option>
                            <option value="$1000">$1000</option>
                            <option value="$5000">$5000</option>
                            <option value="$10,000">$10,000</option>
                            <option value="$50,000">$50,000</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="submit" value="Book Now" class="waves-effect waves-light tourz-sear-btn v2-ser-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>