@model CommercentViewModel

<section>
    <div class="tr-register">
        <div class="tr-regi-form v2-search-form">
            <h4>Devenir un Fournisseur <span>Logement</span></h4>
            <p>Remplir les informations necessaire</p>
            <form class="contact__form" name="new1" id="11" method="post" action="CommercantPersonne">
                <div class="alert alert-success contact__msg" style="display: none" role="alert">
                    Thank you for arranging a wonderful trip for us! Our team will contact you shortly!
                </div>@{if (Model != null)
                    {
                        <input type="hidden" name="TypseService" value="@Model.TypseService" />}}

                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" name="TypeOrgan" required>
                        <label>Entrer Votre Type d'organisme</label>
                        <span asp-validation-for="Secteur" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" name="SituationEntreprise" required>
                        <label>Entrer Le titre d'entreprise</label>
                        <span asp-validation-for="Secteur" class="text-danger"></span>
                    </div>

                </div><div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" name="Secteur" required>
                        <label>Entrer Votre Secteur</label>
                        <span asp-validation-for="Secteur" class="text-danger"></span>
                    </div>

                </div><div class="row">
                    <div class="input-field col s6">
                        <input type="number" class="validate" name="Patente" required>
                        <label>Votre Patente</label>
                    </div>
                </div>
                <div class="row">
                    <h3>Il faut aussi verifier votre authentifcations</h3>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Email" class="validate" />
                        <label>Saisir Adresse Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Password" class="validate" />
                        <label>Saisir votre Mot de passe</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input type="submit" value="Book Now">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>