
<section>
  
    <div class="tr-register">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="tr-regi-form">
                        <h4>Devenir un  Commercant</h4>
                        <p>L'accueil de voyageurs peut vous permettre de toucher des revenus grâce à vos services pour financer vos passions.</p>

                        <p>
                            Deja un Commercant ? <a href="login.html">Click Ici</a>
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <p>
                        Deja un Commercant ? <a href="login.html">Click Ici</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
