@model CommercentViewModel
    <script src="~/Theme/plugins/jquery/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <h1>Spécial Organisme</h1>
    <div class="form-group">
        <label asp-for="Domaine"></label>
        <input asp-for="Domaine" class="form-control" />
        <span asp-validation-for="Domaine" class="text-danger"></span>

    </div>



    <div class="form-group">
        <label asp-for="Secteur"></label>
        <input asp-for="Secteur" class="form-control" />
        <span asp-validation-for="Secteur" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Forme"></label>
        <input type="radio" name="Forme" value="SUARL" /> SUARL
        <input type="radio" name="Forme" value="SARL" /> SARL
        <input type="radio" name="Forme" value="SA" /> SA
        <input type="radio" name="Forme" value="SAS" /> SAS
        <input type="radio" name="Forme" value="Autre" /> Autre


    </div>
    <div class="form-group">
        <label asp-for="EffectHomme"> Effectif Hommes</label>
        <input asp-for="EffectHomme" class="form-control" />
        <span asp-validation-for="EffectHomme" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EffectFemme">Effectif Femmes</label>
        <input asp-for="EffectFemme" class="form-control" />
        <span asp-validation-for="EffectFemme" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SituationEntreprise"></label>
        <input type="radio" name="SituationEntreprise" value="EnActivite" /> En Activité
        <input type="radio" name="SituationEntreprise" value="Endémarrage" /> En démarrage



    </div>
    <div class="form-group">
        <label asp-for="TypeOrgan">Type d'organisme</label>
        <input asp-for="TypeOrgan" class="form-control" />
        <span asp-validation-for="TypeOrgan" class="text-danger"></span>
    </div>
   