@using TourMe.Data.Entities.Enum;
@model CommercentViewModel

@{
    ViewBag.Title = "Commerçant";
}





<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <input type="radio" name="Type" value="individu" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" /> individu
                <input type="radio" name="Type" value="Organisme" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" /> Organisme

            </div>

            <div class="form-group">
                <label asp-for="Nom"></label>
                <input asp-for="Nom" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="PreNom"></label>
                <input asp-for="PreNom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>

            </div>



            <div class="form-group">



                <label asp-for="PhoneNumberCountryCode"></label>

                <select asp-for="PhoneNumberCountryCode" asp-items="@ViewBag.countries" class="form-control"></select>
                <span asp-validation-for="PhoneNumberCountryCode" class="text-danger"></span>
                <label asp-for="Telephone"></label>

                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CIN"></label>
                <input asp-for="CIN" class="form-control" />
                <span asp-validation-for="CIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Domaine"></label>
                <select asp-for="Domaine" asp-items="Html.GetEnumSelectList<domaine>()"></select>

            </div>



            <div class="form-group">
                <label asp-for="Secteur"></label>
                <select asp-for="Secteur" asp-items="Html.GetEnumSelectList<Secteur>()"></select>

            </div>
            <div class="form-group">
                <label asp-for="Forme"></label>
                <input type="radio" name="Forme" value="SUARL" /> SUARL
                <input type="radio" name="Forme" value="SARL" /> SARL
                <input type="radio" name="Forme" value="SA" /> SA
                <input type="radio" name="Forme" value="SAS" /> SAS
                <input type="radio" name="Forme" value="Autre" /> Autre


            </div>
            <div class="form-group">
                <label asp-for="EffectHomme"></label>
                <input asp-for="EffectHomme" class="form-control" />
                <span asp-validation-for="EffectHomme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectFemme"></label>
                <input asp-for="EffectFemme" class="form-control" />
                <span asp-validation-for="EffectFemme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SituationEntreprise"></label>
                <input type="radio" name="SituationEntreprise" value="EnActivite" /> En Activité
                <input type="radio" name="SituationEntreprise" value="Endémarrage" /> En démarrage



            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </form>
    </div>
</div>