@using TourMe.Data.Entities.Enum;
@model CommercentViewModel

@{ ViewBag.Title = "Commerçant"; }




<script src="~/Theme/plugins/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <input type="radio" name="Type" value="individu" class="radioBtnClass" /> individu
                <input type="radio" name="Type" value="Organisme" class="radioBtnClass" /> Organisme

            </div>
            <script>

               $(function () {
                   $("[name=Type]").on('change', function () {
                       var value = $("input[type='radio'].radioBtnClass:checked").val();





                       $.ajax({

                    url: '@Url.Action("test","Account")',
                   data: { 'type': value },
                           type: "post",
                    success: function (data) {
                    $("#loadpartial").html(data);
                }
            });
        });
    });

            </script>


            <div class="form-group">
                <label asp-for="Nom"></label>
                <input asp-for="Nom" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="PreNom"></label>
                <input asp-for="PreNom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>

            </div>



            <div class="form-group">



                <label asp-for="PhoneNumberCountryCode"></label>

                <select asp-for="PhoneNumberCountryCode" asp-items="@ViewBag.countries" class="form-control"></select>
                <span asp-validation-for="PhoneNumberCountryCode" class="text-danger"></span>
                <label asp-for="Telephone"></label>

                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div id="loadpartial">

            </div>



            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </form>
    </div>
</div>