
@model CommercentViewModel

@{
    ViewBag.Title = "Commerçant";

}


<script src="~/Theme/plugins/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<!--DASHBOARD-->
<section>
    <div class="tr-register">
        <div class="tr-regi-form">
            <h4>Devenir Hôte</h4>
            <p>C'est toujours gratuit</p>
            <form class="col s12" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                @*<div class="form-group">
            <label asp-for="Type"></label>
            <input asp-for="Type" type="radio" name="Type" value="individu" class="radioBtnClass" /> individu
            <input type="radio" name="Type" value="Organisme" class="radioBtnClass" /> Organisme

        </div>*@

                <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="Type"
                           id="flexRadioDefault1"
                           value="Organisme" />
                    <label asp-for="Type" class="form-check-label" for="flexRadioDefault1"> Organisme </label>
                    <input class="form-check-input"
                           type="radio"
                           name="Type"
                           id="flexRadioDefault2"
                           value="Individu" />
                    <label class="form-check-label" for="flexRadioDefault2"> Individu </label>
                </div>



                <script>

               $(function () {
                   $("[name=Type]").on('change', function () {
                       var value = $("input[type='radio'].form-check-input:checked").val();





                       $.ajax({

                    url: '@Url.Action("test","Account")',
                   data: { 'type': value },
                           type: "post",
                    success: function (data) {
                    $("#loadpartial").html(data);
                }
            });
        });
    });

                </script>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="PersAContact" placeholder="Personne à contacter" class="form-control" />
                        <span asp-validation-for="PersAContact" class="text-danger"></span>

                    </div>
                </div>
                <div id="loadpartial">

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Email" placeholder="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <label>Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select asp-for="PhoneNumberCountryCode" placeholder="Choisir pays" asp-items="@ViewBag.countries"></select>
                        <span asp-validation-for="PhoneNumberCountryCode" class="text-danger"></span>

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label> Téléphone</label>
                        <br />
                        <br />
                        <input asp-for="Telephone" class="form-control" />
                        <span asp-validation-for="Telephone" class="text-danger"></span>

                    </div>
                </div>


                <div class="form-group">
              
                    <div class="custom-file">
                        <label>Document</label>
                        <input asp-for="FileP"  class="form-control custom-file-input" />
                        <label class="custom-file-label">Upload CIN/Patente</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Password" placeholder="Mot de passe" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <label>Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="ConfirmPassword" placeholder="Confirmer mot de passe" class="form-control" />

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="submit" value="submit" class="waves-effect waves-light btn-large full-btn">
                    </div>
                </div>

                @section Scripts {
                    <script>
                        $(document).ready(function () {
                            $('.custom-file-input').on("change", function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(fileName);
                            });
                        });
                    </script>
                }

            </form>
            <p>
                Déja un membre ? <a asp-controller="Account" asp-action="Login">Cliquez pour se connecter</a>
            </p>
        </div>
    </div>
</section>

<!--END DASHBOARD-->
<!--END DASHBOARD-->
@*</body>
    </html>*@